<div class="m-20">
    <form action="//127.0.0.1:5000/user/avatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" id="img-avatar">
        <input type="submit" id="btn-avatar" class="btn btn-secondary mt-10" value="save">
    </form>
</div>