<div class="p-5 bg-blue-300 rounded-2xl m-5">
    <div class="form-control my-2">
        <label class="label">
            <span class="label-text">Old password</span>
        </label>
        <input type="password" id="oldPassword" placeholder="old password" class="input input-bordered">
    </div>
    <div class="form-control my-2">
        <label class="label">
            <span class="label-text">New Password</span>
        </label>
        <input type="password" id="newPassword" placeholder="New password" class="input input-bordered">
    </div>
    <div class="form-control my-2">
        <label class="label">
            <span class="label-text">Repeat new password</span>
        </label>
        <input type="password" id="repeatPassword" placeholder="Repeat new password" class="input input-bordered">
    </div>
    <div class="form-control">
        <button type="button" id="change" class="btn btn-wide btn-primary my-2" style="width: 100%;">Save change
            password</button>
    </div>
</div>