<div class="card lg:card-side p-5 m-5 bordered bg-blue-500">
    <div class="card-body">
        <h2 class="card-title">Hi
            <%= user.name %>
        </h2>
        <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
        <div class="card-actions">
            <button class="btn btn-primary">more info</button>
        </div>
    </div>
</div>