<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@0.11.x/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/icon/icon-blog-png-2.jpg" type="image/x-icon">
</head>

<body>
    <div class="flex justify-center items-center flex-col bg-blue-200" id="body" style=" width: 100%; height: 100vh;">
        <div class="alert alert-success hidden" id="success">
            <div class="flex-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  mx-2 stroke-current" fill="none" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>
                <label> Welcome !!!</label>
            </div>
        </div>
        <div class="alert alert-error hidden" id="error">
            <div class="flex-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6 mx-2 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636">
                    </path>
                </svg>
                <label id="alert"></label>
            </div>
        </div>
        <div class="w-72 lg:w-96 md:w-80">
            <div class="text-center my-5">
                <div>
                    <h1 class="text-3xl text-gray-700 font-bold">Sign in your account</h1>
                </div>
            </div>
            <div>
                <div class="p-2 bg-blue-100 rounded-2xl">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Username</span>
                        </label>
                        <input type="text" id="username" placeholder="username" class="input input-bordered">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" id="password" placeholder="Password" class="input input-bordered">
                        <label class="label">
                            <a href="#" class="label-text-alt">Forgot Password?</a>
                            <a href="/singUp" class="label-text-alt">Create a new account</a>
                        </label>
                    </div>
                    <button id="btn" type="button" class="btn btn-wide btn-primary my-3" style="width: 100%;">Sign
                        in</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="./javascripts/logIn.js"></script>
</body>

</html>