<div class="m-5 p-2">
    <form>
        <div class="shadow overflow-hidden sm:rounded-md" style="border-radius: 8px;">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-6 gap-14">
                    <div class="col-span-6 sm:col-span-3 grid grid-cols-10">
                        <label for="title" class="col-span-10 text-sm font-medium text-gray-700 md:col-span-1">Title
                            :</label>
                        <input type="text" id="title" class="col-span-10 md:col-span-9 bg-gray-400 px-2 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md h-8">
                    </div>
                    <div class="col-span-6 sm:col-span-3 grid grid-cols-10">
                        <label for="img-article" class="col-span-10 md:col-span-1 text-sm font-medium text-gray-700">Image
                            :</label>
                        <input type="file" id="img-article" class="col-span-10 md:col-span-9 custom-file-input p-0 bg-gray-400 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md h-8">
                    </div>
                    <div class="col-span-6">
                        <label for="text" class="text-2xl font-medium text-gray-700">Text</label>
                        <textarea type="text" id="text" class="bg-gray-400 mt-2 focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md h-72 p-5" rows="30"></textarea>
                    </div>
                </div>
                <button id="save-newArticle" type="button" class="btn btn-wide btn-primary my-3" style="width: 100%;">Save
                    article</button>
            </div>
        </div>
    </form>
</div>