<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@0.11.x/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/sideBar.css">
    <link rel="stylesheet" href="/stylesheets/avatar.css">
</head>

<body class="bg-red-100">

    <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box" style="position: fixed; top: 0; width: 100%; z-index: 90;">

        <div class="flex-none mx-1">
            <button class="btn btn-square btn-ghost text-3xl" id="open-slideBar">
                <span style="margin-bottom: 10px;">...</span>
            </button>
        </div>
        <div class="flex-none px-2 mx-1">
            <span class="font-bold text-3xl" style="font-style: italic; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                Blog
            </span>
        </div>
        <div class="flex-1 px-2 mx-1">
            <div class="items-stretch hidden sm:flex ">
                <a class="btn btn-ghost btn-sm rounded-btn">
                    Home
                </a>
            </div>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost" id="logout">
                <em class="fa fa-sign-out" style="font-size:32px;color:red"></em>
            </button>
        </div>
        <div class="flex-none" style="cursor: pointer;">
            <div class="avatar">
                <div class="rounded-full w-10 h-10 m-1">
                    <img src="//127.0.0.1:5000/images/upload/<%= user.avatar %>" alt="avatar">
                </div>
            </div>
        </div>

    </div>

    <%- include('./sideBar.ejs', {user})%>

        <div id="body" style="position: relative; top: 70px;">
            <%- include('./home.ejs', {user}) %>
        </div>

        <div class="flex justify-end fixed z-100  hidden" id="bodyResult" style="width: 100%; height: 100vh; align-items: end;">
            <div class="card shadow-2xl lg:card-side bg-warning w-72 h-14 mx-5">
                <div class="card-body p-1 flex-row-reverse">
                    <div class="justify-end card-actions">
                        <button class="btn btn-warning btn-square" id="closeResult">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                class="inline-block w-6 h-6 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <p id="result" class="my-3">successes</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/javascripts/sideBar.js"></script>
        <script src="../javascripts/profile.js"></script>
</body>

</html>