<div class="sideBar">
    <div class="info-sideBar">
        <div>
            <img src="//127.0.0.1:5000/images/upload/<%= user.avatar %>" alt="avatar">
        </div>
        <div style="display: flex; width: 100%;">
            <div style="width: 75%;">
                <div class="name">
                    <span>
                        <%= user.name%>
                    </span>
                </div>
                <div class="username">
                    <span>
                        <%= user.username%>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <button id="dashboard">
                <em class="fa fa-home"></em>
                Dashboard
            </button>
        </div>
        <div>
            <button id="newArticle">
                <em class="fa fa-file"></em>
                New Article
            </button>
        </div>
        <div>
            <button>
                <em class="fa fa-book"></em>
                Your Article
            </button>
        </div>
        <div>
            <button>
                <em class="fa fa-search"></em>
                Explore
            </button>
        </div>
        <div>
            <button id="sideBar-update">
                <em class="fa fa-angle-right"></em>
                <em class="fa fa-angle-down"></em>
                <span>Update</span>
            </button>
            <div class="down">
                <div>
                    <button id="update">
                        <em class="fa fa-address-card"></em>
                        Information
                    </button>
                </div>
                <div>
                    <button id="changePassword">
                        <em class="	fa fa-key"></em>
                        Password
                    </button>
                </div>
                <div>
                    <button id="delete">
                        <em class="fa fa-trash" style="color: red;"></em>
                        Delete account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>